<h2>Login</h2>

<form class="form" id="login-form">
  <div class="form-group">
    <label for="username-input-login">username:</label>
    <input class="form-input" type="text" id="username-input-login" />
  </div>
  <div class="form-group">
    <label for="password-input-login">password:</label>
    <input class="form-input" type="password" id="password-input-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>
