<section class="card">
    <header>{{post.title}}</header>
    <p>{{post.created_at}}</p>
    <p>{{post.content}}</p>
    <p>{{post.User.username}}</p>
</section>
{{#each post.Comments as |comment|}}
{{> comment-details}}
{{/each}}
